* {margin:0;padding:0}
html, body{height: 100%;}
.wrapper{
    min-height:100%;
}
.content{
    overflow: auto;
    padding-bottom:20px;
}
.footer{
    margin-top: -20px;
    height: 20px;
    position: relative;
    clear: both;
}
form#accumdata input{text-align: right;}
form#sheardata input{text-align: right;}
.error {color: red;}

.inputhint{color: #cccccc;}
